---
import SpeedInsights from "@vercel/speed-insights/astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;

const folders = {
  base: [
    "biased-adv-0.0",
    "biased-adv-0.75",
    "lazy-adv-0.0",
    "lazy-adv-0.75",
    "negligent-adv-0.0",
    "negligent-adv-0.75",
    "robust-adv-0.0",
    "robust-adv-0.75",
    "weak-negligent-adv-0.0",
    "weak-negligent-adv-0.125",
    "weak-negligent-adv-0.25",
    "weak-negligent-adv-0.375",
    "weak-negligent-adv-0.5",
    "weak-negligent-adv-0.625",
    "weak-negligent-adv-0.75",
  ],
  consultancy: [
    "biased-adv-0.0",
    "biased-adv-0.15",
    "biased-adv-0.3",
    "biased-adv-0.75",
    "biased-overweigh-adv-0",
    "biased-overweigh-adv-0.15",
    "biased-overweigh-adv-0.3",
    "biased-overweigh-adv-0.45",
    "biased-overweigh-adv-0.6",
    "biased-overweigh-adv-0.75",
    "negligent-adv-0.0",
    "negligent-adv-0.15",
    "negligent-adv-0.3",
    "negligent-adv-0.45",
    "negligent-adv-0.6",
    "negligent-adv-0.75",
    "robust-adv-0.0",
    "robust-adv-0.15",
    "robust-adv-0.3",
    "robust-adv-0.75",
  ],
  critiques: [
    "biased-adv-0.0",
    "biased-adv-0.75",
    "robust-adv-0.0",
    "robust-adv-0.75",
  ],
} as const;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <SpeedInsights />
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><a href="/">CodeNames Oversight Home</a></li>
        </ul>
        <ul>
          {
            Object.keys(folders).map((collection) => (
              <li>
                <details class="dropdown">
                  <summary>
                    {collection.charAt(0).toUpperCase() + collection.slice(1)}
                  </summary>
                  <ul>
                    {folders[collection as keyof typeof folders].map(
                      (folder) => (
                        <li>
                          <a
                            href={`/${collection}/${folder.replace(".", "")}/0`}
                          >
                            {folder}
                          </a>
                        </li>
                      )
                    )}
                  </ul>
                </details>
              </li>
            ))
          }
        </ul>
      </nav>
    </header>
    <slot />
  </body>
</html>
