---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CodeNames Results Explorer">
  <main class="container">
    <h1>CodeNames Results Explorer</h1>
    <p>Navigate to explore results!</p>
  </main>
</Layout>
